<div class="row">
     <div class="card nuevo_2 col-3 panel-one" style="max-width: 19rem;">

          <h6 class="  text-center p-2">Panel de informacion</h6>

          <div class="overflow-auto">
               <div class="card nuevo shadow   rounded">
                    <h6 class="font-weight-bold text-center text p-1">Inf. Estudiante
                    </h6>

                    <div class="justify-content-center">
                         <div class="">
                              <img src={{estudiante.foto}} alt="..." class="mx-auto d-block rounded-circle" width="130"
                                   height="130">
                         </div>
                    </div>

                    <div class="card-body m-1">
                         <div class="text mr-auto">
                              <div class="row m-1">
                                   <dt class="">Documento:</dt>
                                   <p class="ml-auto"> {{estudiante.id}}</p>
                              </div>

                              <div class="row m-1">
                                   <dt class="">Nombres: </dt>
                                   <p class="ml-auto">{{estudiante.nombre1}} {{estudiante.nombre2}}</p>

                              </div>
                              <div class="row m-1">
                                   <dt class="">Codigo: </dt>
                                   <p class="ml-auto">{{estudiante.codigo}}</p>

                              </div>

                              <div class="row m-1">
                                   <dt class="">Situación: </dt>
                                   <p class="ml-auto">ACTIVO</p>

                              </div>

                              <div class="row m-1">
                                   <dt class="">Ubicacion Semestral: </dt>
                                   <p class="ml-auto">{{estudiante.semestre}}</p>

                              </div>

                         </div>
                    </div>

               </div>
               <hr>
               <div class="card nuevo shadow  rounded">
                    <h6 class="font-weight-bold text-center text p-1">Inf. Programa
                    </h6>
                    <div class="card-body ">
                         <div class="text mr-auto">
                              <div class="row m-1">
                                   <dt class="">Programa: </dt>
                                   <p class="ml-auto">{{estudiante.programa}}</p>

                              </div>
                              <div class="row m-1">
                                   <dt class="">Jornada: </dt>
                                   <p class="ml-auto">{{estudiante.jornada}}</p>

                              </div>

                              <div class="row m-1">
                                   <dt class="">Pensum: </dt>
                                   <p class="ml-auto">{{estudiante.pensum}}</p>

                              </div>

                         </div>
                    </div>
               </div>
               <br />

          </div>



     </div>



     <div class="col-md-10" style="max-width: 79rem;">
          <div class="row">
               <div class="card col-md-4 nuevo_2 p-2 panel-two">
                    <h6 class=" ">Listado de grupos disponibles</h6>

                    <div class="overflow-auto">
                         <div class="card-body col-sm-12 w-100">

                              <div class="list-group text-center">
                                   {{#each equipos }}
                                   <a href="/matricula/{{../this.idEstudiante}}/{{this.id}}/true"
                                        class="list-group-item list-group-item-action">{{this.nombre}}</a>
                                   {{/each}}
                              </div>
                         </div>
                    </div>


               </div>
               <div class="card col-md-8 nuevo_2 p-1 panel-two">
                    <h6 class="  mr-auto">Datos del equipo</h6>
                    {{#if bandera}}

                    {{#each equipo}}
                    <div class="" id="panel2">
                         <div class="panel-two-1">
                              <div class="card ">
                                   <div class="overflow-auto">
                                        <div class="card-body">
                                             <div class="">
                                                  <div class="row p-0">
                                                       <div class="form-group col-md-6 text-center">
                                                            <dt class=" p-2">Director del equipo</dt>
                                                            <h5 class="p-1">{{this.nombres}} {{this.apellidos}}</h5>
                                                       </div>

                                                       <div class="col-sm-3 text-center">
                                                            <dt class="m-1">Cupos</dt>
                                                            <h5 class="m-1">{{this.cupos}}</h5>
                                                       </div>
                                                       <div class="col-sm-3 text-center">
                                                            <dt class="m-1">Tipo</dt>
                                                            <h5 class="m-1">{{this.genero}}</h5>
                                                       </div>
                                                  </div>


                                                  <div class="card col-md-12">
                                                       <h6 class=" mr-auto p-2   p-1">Horario</h6>
                                                       <div class="card-body">

                                                            <h5 class="text-center">
                                                                 {{this.dias}} de {{this.horas}} en {{this.lugarNombre}}
                                                            </h5>

                                                       </div>
                                                  </div>

                                             </div>

                                        </div>
                                   </div>

                              </div>
                         </div>

                         <div class="panel-two-2">
                              <div class="col-md-3 but ml-auto p-0">
                                   <div class="ml-auto">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-success btn-block " data-toggle="modal"
                                             data-target="#exampleModalCenter">
                                             Matricular
                                        </button>


                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                             <div class="modal-dialog modal-dialog-centered" role="document">
                                                  <div class="modal-content">
                                                       <div class="modal-header text-center">
                                                            <h6 class="font-weight-bold  ">Matricular equipo</h6>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                 aria-label="Close">
                                                                 <span aria-hidden="true">&times;</span>
                                                            </button>
                                                       </div>
                                                       <div class="modal-body text-center">
                                                            ¿Estas seguro de matricular? 
                                                       </div>
                                                       <div class="modal-footer">
                                                            <button type="button" class="btn btn-primary"
                                                                 data-dismiss="modal">Volver</button>
                                                            <a
                                                                 href="/matricularEquipo/{{../this.idEstudiante}}/{{this.id}}">

                                                                 <button type="button"
                                                                      class="btn btn-success">Matricular</button>
                                                            </a>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                         </div>


                    </div>
                    {{/each}}

                    {{else}}

                    <div class="Paan" id="panel12">
                         <img src="/img/deport.png" alt="" width="670" height="350">
                    </div>

                    {{/ if}}


               </div>
               <div class="card col-md-12 nuevo-2 panel-tr">

                    <h6 class="p-2  ">Grupos matriculados y horarios</h6>



                    <div class="card-body ">

                         <div class="table-wrapper-scroll-y my-custom-scrollbar">

                              <table class="table table-bordered table-striped mb-0">

                                   <thead>
                                        <tr>
                                             <th scope="col">
                                                  <dt>Nombre</dt>
                                             </th>
                                             <th scope="col">
                                                  <dt>Director</dt>
                                             </th>
                                             <th scope="col">
                                                  <dt>Dias</dt>
                                             </th>
                                             <th scope="col">
                                                  <dt>Horas</dt>
                                             </th>
                                             <th scope="col">
                                                  <dt>Lugar</dt>
                                             </th>
                                             <th scope="col">
                                                  <dt>Cancelar</dt>
                                             </th>
                                        </tr>
                                   </thead>
                                   <tbody>
                                        {{#each horario}}
                                        <tr>

                                             <td>{{this.equipoNombre}}
                                             </td>
                                             <td>{{this.directorNombres}} {{ this.directorApellidos}}
                                             </td>
                                             <td>{{this.dias}}</td>
                                             <td>{{this.horas}} </td>
                                             <td>{{this.lugarNombre}}</td>
                                             <td>
                                                  
                                                       <button class=" but btn btn-danger btn-sm"
                                                            type="button" data-toggle="modal" data-target="#modalEliminar">Cancelar</button>
                                                  


                                                  <!-- Modal -->
                                                  <div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog"
                                                       aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                       <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                 <div class="modal-header">
                                                                      <h6 class="font-weight-bold text-center" >
                                                                           Cancelar matricula</h6>
                                                                      <button type="button" class="close"
                                                                           data-dismiss="modal" aria-label="Close">
                                                                           <span aria-hidden="true">&times;</span>
                                                                      </button>
                                                                 </div>
                                                                 <div class="modal-body text-center">
                                                                   Seguro que deseas cancelar la matricula del  <strong>{{this.equipoNombre}}</strong>?
                                                                 </div>
                                                                 <div class="modal-footer">
                                                                      <button type="button" class="btn btn-primary"
                                                                           data-dismiss="modal">Volver</button>
                                                                            <a
                                                                            href="/cancelarMatricula/{{../this.idEstudiante}}/{{this.codigo}}/{{this.idEquipo}}">

                                                                            <button type="button" class="btn btn-danger">Cancelar matricula</button>
                                                                            </a>
                                                                 </div>
                                                            </div>
                                                       </div>
                                                  </div>
                                             </td>
                                        </tr>
                                        {{/each}}

                                   </tbody>
                              </table>

                         </div>

                    </div>



               </div>
          </div>
     </div>
</div>

</div>